html{
    scroll-behavior: smooth;
}


textarea{
    border-radius: 20;
}

section{
    border-radius: 20;
    padding: 5 5 5 5;
    background-color: rgba(0, 0, 0, 0.9);
}

body{
    background-image: url(https://images7.alphacoders.com/598/thumb-1920-598890.jpg);
}

h1{
    color: white;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
