<h2>Options</h2>

<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Options</label>
    <input name="site" type="text" class="form-control" id="opt" placeholder="Optional">
</div>

<table name="table" id="table" class="table table-dark table-hover table-sm table-striped">
    <thead>
        <tr data-bs-target="">
          <th scope="col">Option</th>
          <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
  
    </tbody>
  </table>
<input type="hidden" name="options" id="options">
<button id="add_option" type="button" class="btn btn-outline-primary" style="margin-top: 1%;" onclick="addOption('table', 'opt')">Add</button>      
<br>
    