<h2>Aircraft</h2>
<div class="form-group" style="margin-top: 1%;">
  <label for="exampleFormControlSelect1">Register Number</label>
  {% if aircraft %}
  <input name="name" type="text" class="form-control" value="{{aircraft.reg_num}}" placeholder="Register Number" readonly required>
  {% else %}
  <input name="name" type="text" class="form-control" placeholder="Register Number" required>
  {% endif %}
</div>
<div class="form-group" style="margin-top: 1%;">
  <label for="exampleFormControlSelect1">Model</label>
  <select name="model" class="form-control" id="exampleFormControlSelect1" required>
    {% for model in data %}
      {% if model.aircraft_name == aircraft.aircraft_name %}
        <option value='{{model.aircraft_name}}' selected>{{model.aircraft_name}}</option>
      {% else %}
        <option value='{{model.aircraft_name}}'>{{model.aircraft_name}}</option>
      {% endif %}
    {% endfor %}
  </select>
</div>         
<div class="form-group" style="margin-top: 1%;">
  <div id="date-picker-example" inline="true">
    <label for="example">Production Date</label>
    <input name="date" type="date" id="example" class="form-control" value="{{aircraft.produce_date}}" required>
  </div>      
</div>       
<div class="form-group" style="margin-top: 1%;">
  <label for="exampleFormControlSelect1">Production Site</label>
  <input name="site" type="text" class="form-control" placeholder="Production Site" value="{{aircraft.production_site}}" required>
</div>
