{% extends 'layout.html' %}

{% block body %}

    <div style="margin: 2%;">
        <h2>Aircraft List</h2>
        <form method="post">
            <div class="input-group mb-3">
                <input type="text" name="query" class="form-control" placeholder="Aircraft name" aria-label="Aircraft name" aria-describedby="basic-addon2">
                <div class="input-group-append">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </div>    
        </form>

        {% if search %}
            <h2>Search results</h2>
            <form method="post">
                <div class="input-group" style="width: 100%">
                    <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Sort by...</option>
                    <option value="1">Reg Num A-Z</option>
                    <option value="2">Reg Num Z-A</option>
                    <option value="3">Company A-Z</option>
                    <option value="3">Company Z-A</option>
                    </select>
                    <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button">Sort</button>
                    </div>
                </div>
            </form>
        {% endif %}


        {% for aircraft in aircrafts %}
            {% set target = '#A' +  aircraft.reg_num %}
            {% set id = 'A' + aircraft.reg_num %}
            <div class="card" style="width: 12rem; margin: 0 auto; margin-top: 1%; display: inline-block;">
                <div class="card-body" data-bs-toggle="modal" data-bs-target='{{target}}'>
                    <h5 class="card-title">{{aircraft.reg_num}}</h5>
                    <h6 class="card-subtitle">{{ aircraft.aircraft_name }} </h6>
                </div>
            </div>

            <div class="modal fade" id='{{id}}' tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <img height="300" img src="{{url_for('static', filename='/images/airplane.jpg')}}"></a>
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">{{aircraft.reg_num}}</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="text-dark">{{'Aircraft Model: ' + aircraft.aircraft_name}}</p>
                      <p class="text-dark">{{'Production Date: ' + aircraft.produce_date.strftime('%Y-%m-%d')}}</p>
                      <p class="text-dark">{{'Production Facility: ' + aircraft.production_site}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>

        {% endfor %}    
        <h1 style="margin-top: 50%"></h1>
    </div>


{% endblock %}