{% include 'check_c.html' %}
<h2 style="margin-top: 3%;">D-check</h2>
<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Wing Check</label>
    <input name="wing_check" type="text" class="form-control" placeholder="Wing Check" value="{{vars.d_check.wing_check}}" required>
</div>
<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Floor Check</label>
    <input name="floor_check" type="text" class="form-control" placeholder="Floor Check" value="{{vars.d_check.floor_check}}" required>
</div>
<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Stabiliser Check</label>
    <input name="stab_check" type="text" class="form-control" placeholder="Stabiliser Check" value="{{vars.d_check.stab_check}}" required>
</div>
