{% include 'check_a.html' %}
<h2 style="margin-top: 3%;">C-check</h2>
<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Door Check</label>
    <input name="door_check" type="text" class="form-control" placeholder="Door Check" value="{{vars.c_check.door_check}}" required>
</div>
<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Engine Check</label>
    <input name="engine_check" type="text" class="form-control" placeholder="Engine Check" value="{{vars.c_check.engine_check}}" required>
</div>
<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Fuel Pressure Check</label>
    <input name="fuel_pres_check" type="text" class="form-control" placeholder="Fuel Pressure Check" value="{{vars.c_check.fuel_pres_check}}" required>
</div>
