<h2 style="margin-top: 3%;">A-check</h2>
<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Flap Test</label>
    <input name="flap_test" type="text" class="form-control" placeholder="Flap Test" value="{{vars.a_check.flap_test}}" required>
</div>
<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Brake Test</label>
    <input name="brake_test" type="text" class="form-control" placeholder="Brake Test" value="{{vars.a_check.brake_test}}" required>
</div>
<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Damage Check</label>
    <input name="damage_check" type="text" class="form-control" placeholder="Damage Check" value="{{vars.a_check.damage_check}}" required>
</div>
<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Oxygen Pressure Check</label>
    <input name="oxy_pres_check" type="text" class="form-control" placeholder="Oxygen Pressure Check" value="{{vars.a_check.oxy_pres_check}}" required>
</div>
