<h2>Company</h2>
<div class="form-group" style="margin-top: 1%;">
  <label for="exampleFormControlSelect1">Company Name</label>
  <input name="c_name" type="text" class="form-control" placeholder="Company Name" value="{{company.c_name}}" required>
</div>
<div class="form-group" style="margin-top: 1%;">
  <label for="exampleFormControlSelect1">Est. Date</label>
  <input name="est_date" type="number" class="form-control"  placeholder="Est. Date" min="1600" max="2022" value="{{company.est_date}}" required>
</div>         
<div class="form-group" style="margin-top: 1%;">
  <label for="exampleFormControlSelect1">Address</label>
  <input name="address" type="text" class="form-control" placeholder="Address" value="{{company.address}}" required>
</div>
<h4 style="margin-top: 1%;">Company Functions</h4>

{% if company %}
  {% if company.is_maintenance == 1 %}
  <div class="chip">Maintenance Provider</div>
  {% endif %}
  {% if company.is_manufacturer == 1 %}
  <div class="chip">Manufacturer</div>
  {% endif %}
  {% if company.is_airline == 1 %}
  <div class="chip">Airline</div>
  {% endif %}
  {% if company.is_supplier == 1 %}
  <div class="chip">Supplier</div>
  {% endif %}

{% else %}

<div class="custom-control custom-switch">
  <input type="checkbox" name="provider" class="custom-control-input" id="provider">
  <label class="custom-control-label" for="provider">Maintenance Provider</label>
</div>

<div class="custom-control custom-switch">
  <input type="checkbox" name="manufacturer" class="custom-control-input" id="manufacturer">
  <label class="custom-control-label" for="manufacturer">Manufacturer</label>
</div>

<div class="custom-control custom-switch">
  <input type="checkbox" name="airline" class="custom-control-input" id="airline">
  <label class="custom-control-label" for="airline">Airline</label>
</div>

<div class="custom-control custom-switch">
  <input type="checkbox" name="supplier" class="custom-control-input" id="supplier">
  <label class="custom-control-label" for="supplier">Supplier</label>
</div>

{% endif %}
