{% extends 'layout.html' %}

{% block body %}

    <div style="margin: 2%;">
        <h2>Company List</h2>
        <form method="post">
            <div class="input-group mb-3">
                <input type="text" name="query" class="form-control" placeholder="Company name" aria-label="Company name" aria-describedby="basic-addon2">
                <select class="form-select" aria-label="Default select example" name="sort">
                  <option selected value="1"> Sort by...</option>
                  <option value="1">Name A-Z</option>
                  <option value="2">Name Z-A</option>
                  <option value="3">Est. Date A-Z</option>
                  <option value="4">Est. Date Z-A</option>
              </select>
              <button class="input-group-text border-0" id="search-addon" type="submit"><i class="fas fa-search"></i></button>

          </div>    
            <div class="form-check form-switch">
              <input id="check" name="check" value="check" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
              <label class="form-check-label" for="flexSwitchCheckDefault" style="color: white;">Display as table</label>
            </div>    
        </form>

        {% if table %}
          <table class="table table-dark">
              <thead>
                  <tr data-bs-target="">
                    <th scope="col">#</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Est. Date</th>
                  </tr>
              </thead>
              <tbody>
        {% endif %}

        {% for company in companies %}
            {% set target = '#A' + company.c_name|replace(" ","")|replace(".","") %}
            {% set id = 'A' + company.c_name|replace(" ","")|replace(".","") %}
            {% if table %}
            <tr data-bs-toggle="modal" data-bs-target='{{target}}'>
              <th scope="row">{{loop.index}}</th>
              <td>{{company.c_name}}</td>
              <td>{{company.est_date}}</td>
            </tr>
            {% else %}
            <div class="card" style="width: 12rem; margin: 0 auto; margin-top: 1%; display: inline-block;">
                <div class="card-body" data-bs-toggle="modal" data-bs-target='{{target}}'>
                    <h5 class="card-title">{{company.c_name}}</h5>
                    <h6 class="card-subtitle">{{ company.est_date }} </h6>
                </div>
            </div>
            {% endif %}
            <div class="modal fade" id='{{id}}' tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <img height="170" img src="{{url_for('static', filename='/images/company.png')}}"></a>
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{company.c_name}}</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text-dark">{{'Date: ' + company.est_date|string}}</p>
                    <p class="text-dark">{{'Address: ' + company.address}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
          </div>

        {% endfor %}   
    
        {% if table %}
          </tbody>
          </table>
        {% endif %}

        <h1 style="margin-top: 50%"></h1>
    </div>


{% endblock %}