{% if isManufacturer == 1 %}
<h2>Manufacturer</h2>
<div class="form-group" style="margin-top: 1%;">
  <label for="exampleFormControlSelect1">Main Facility</label>
  <input name="main_faci" type="text" class="form-control" placeholder="Main Facility" value="{{company.main_facility}}" required>
</div>
{% endif %}
{% if isAirline == 1 %}
<h2>Airline</h2>
<div class="form-group" style="margin-top: 1%;">
  <label for="exampleFormControlSelect1">Select carrier type</label>
  {% set types = ['Budget', 'Flag', 'Charter'] %}
  <select name="carrier_type" class="form-control" id="exampleFormControlSelect1">
    {% for type in types %}
      {% if type == company.carrier_type %}
        <option selected value="{{type}}">{{type}}</option>
      {% else %}
        <option selected value="{{type}}">{{type}}</option>
      {% endif %}
    {% endfor %}
  </select>
</div>   
<div class="form-group" style="margin-top: 1%;">
  <label for="exampleFormControlSelect1">Country</label>
  <input name="country" type="text" class="form-control" placeholder="Country" value="{{company.country}}" required>
</div>
{% endif %}
