{% extends "layout.html" %}
{% block body %}

    <form style="padding: 5%; margin-left: 10%; margin-right: 10%;" method="post">
      {% if val == '1' %}
        {% include 'type_contribute.html' %}
      {% elif val == '2' %}
        {% include 'aircraft_contribute.html' %}
      {% elif val == '3' %}
        {% set part = [] %}
        {% set vars = {'avi': None, 'eng': None, 'win': None} %}
        {% include 'part_contribute.html' %}
        <button name="part_submit" type="submit" class="btn btn-primary" style="margin-top: 1%;">Next</button>      
      {% elif val == '4' %}
        {% include 'maintenance_contribute.html' %}
      {% elif val == '5' %}  
        {% include 'company_contribute.html' %}
      {% elif val == '6' %}
        {% include 'company_p2_contribute.html' %}        
      {% elif val == '7' %}
        {% set vars = {'avi': None, 'eng': None, 'win': None} %}
        {% include 'part_p2_contribute.html' %}
        <button name="part_p2_submit" type="submit" class="btn btn-primary" style="margin-top: 1%;">Submit</button>      
  
      {% else %}
      <h2>Enter database</h2>
      <div class="form-group">
          <label for="exampleFormControlSelect1">Select database</label>
          <select name="next" class="form-control" id="exampleFormControlSelect1">
            <option selected value="1">Aircraft Type</option>
            <option value="2">Aircraft</option>
            <option value="3">Part</option>
            <option value="4">Maintenance</option>
            <option value="5">Company</option>
          </select>
      </div>    
      
      <button name="part_1" type="submit" class="btn btn-primary" style="margin-top: 1%;">Next</button>      
      {% endif %}
    </form>

    <h1 style="margin-top: 50%"></h1>


{% endblock %}