{% extends "layout.html" %}
{% block body %}

  {% if session.isAdmin == '1' %}

    <form style="padding: 5%; margin-left: 10%; margin-right: 10%;" method="post">
      {% if val == '1' %}
        {% set type = [] %}
        {% include 'type_contribute.html' %}
        <button name="type_submit" type="submit" class="btn btn-primary" style="margin-top: 1%;">Next</button>      
      {% elif val == '1b' %}
        {% include 'type_p2_contribute.html' %}
        <button name="type_p2_submit" type="submit" class="btn btn-primary" style="margin-top: 1%;">Submit</button>      

      {% elif val == '2' %}
        {% set aircraft = [] %}
        {% include 'aircraft_contribute.html' %}
        <button name="aircraft_submit" type="submit" class="btn btn-primary" style="margin-top: 1%;">Submit</button>      
      {% elif val == '2b' %}
        {% include 'aircraft_p2_contribute.html' %}
        <button name="aircraft_p2_submit" type="submit" class="btn btn-primary" style="margin-top: 3%;">Next</button>     
      {% elif val == '2c' %}
        {% include 'aircraft_p3_contribute.html' %}
        <button name="aircraft_p3_submit" type="submit" class="btn btn-primary" style="margin-top: 3%;">Submit</button>     
      {% elif val == '3' %}
        {% set part = [] %}
        {% set vars = {'avi': None, 'eng': None, 'win': None} %}
        {% include 'part_contribute.html' %}
        <button name="part_submit" type="submit" class="btn btn-primary" style="margin-top: 1%;">Next</button>  
      {% elif val == '3b' %}
        {% set vars = {'avi': None, 'eng': None, 'win': None} %}
        {% include 'part_p2_contribute.html' %}
        <button name="part_p2_submit" type="submit" class="btn btn-primary" style="margin-top: 1%;">Submit</button>      
      {% elif val == '4' %}
        {% set record = [] %}
        {% set vars = {'a_check': None, 'c_check': None, 'd_check': None} %}
        {% include 'maintenance_contribute.html' %}
        <button name="maintenance_submit" type="submit" class="btn btn-primary" style="margin-top: 1%;">Next</button>  
      {% elif val == '4b' %}
        {% set vars = {'a_check': None, 'c_check': None, 'd_check': None} %}
        {% include 'maintenance_p2_contribute.html' %}
        <button name="maintenance_p2_submit" type="submit" class="btn btn-primary" style="margin-top: 1%;">Submit</button>  
      {% elif val == '5' %}  
        {% set company = [] %}
        {% include 'company_contribute.html' %}
        <button name="company_next" type="submit" class="btn btn-primary" style="margin-top: 1%;">Next</button>     
      {% elif val == '5b' %}
        {% set company = [] %}
        {% include 'company_p2_contribute.html' %}     
        <button name="company_submit" type="submit" class="btn btn-primary" style="margin-top: 1%;">Submit</button>     
   
  
      {% else %}
      <h2>Enter database</h2>
      <div class="form-group">
          <label for="exampleFormControlSelect1">Select database</label>
          <select name="next" class="form-control" id="exampleFormControlSelect1">
            <option selected value="1">Aircraft Type</option>
            <option value="2">Aircraft</option>
            <option value="3">Part</option>
            <option value="4">Maintenance</option>
            <option value="5">Company</option>
          </select>
      </div>    
      
      <button name="part_1" type="submit" class="btn btn-primary" style="margin-top: 1%;">Next</button>      
      {% endif %}
    </form>

  {% else %}
  {% include 'be_an_admin.html' %}
  {% endif %}
  <section style="margin-top: 50%;"></section>



{% endblock %}