<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Weight</label>
      <input name="weight" type="number" class="form-control" value="{{engine.weight}}" placeholder="Weight" required>
</div>

<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Thrust</label>
      <input name="thrust" type="number" class="form-control" value="{{engine.thrust}}" placeholder="Thrust" required>
</div>

<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Bypass Ratio</label>
      <input name="bypass" type="number" class="form-control" value="{{engine.bypass}}" placeholder="Bypass Ratio" required>
</div>
  
