{% extends "layout.html" %}
{% block body %}
    
    <section>
        <h1 style="margin-top: 10%">We would like to hear from you.</h1>
        <div style="margin: 50 250 0 250;">
            <input type="text" id="inputEmail" class="form-control" placeholder="Title" required autofocus>
            <br>
            <textarea class="form-control" placeholder="Query" id="inputQuery" required></textarea>    
        </div>
        <div class="checkbox mb-3 col text-center" style="color: white;">
          <label style="margin-top: 3%;">
            <input type="checkbox" value="remember-me" style="color: white;"> Receive marketing updates via e-mail
          </label>
        </div>
        <div class="col text-center">
            <button class="btn btn-lg btn-primary btn-block" id="clickMe" type="button" value="clickme" onclick="sendEmail('inputEmail','inputQuery')">Submit</button>
        </div>
    </section>
    <h1 class="heading1"></h1>


{% endblock %}
