{% extends "layout.html" %}
{% block body %}

  <section>
    <h1 class="title">Your Trusted Aircraft Maintenance Provider.</h1>
    <p class="text" onclick="redirect('features')"> > Learn more about our services.</p>

    {% if session.name %}
      <p class="text"> Welcome, {{session.name}}</p>
    {% endif %}

  </section>

  <section id="features">
    <h1 class="heading1" >Features</h1>
    <ul class="features">
      <li>Advanced analytics tools</li>
      <li>Detailed machine-generated maintenance reports</li>
      <li>Easy and straightforward search</li>
    </ul>
    <br>
    <p class="text" onclick="redirect('testimonials')"> > See what others think of Vivifica.</p>
  </section>

  <section id="testimonials">
    <h1 class="heading1" >Testimonials</h1>
    <ul class="testi">
      <li><q>The platform has enabled our airline to achieve our near-perfect safety records</q> - Melissa Kerman, CEO Kerbin Express</li>
      <br>
      <li><q>A must-have tool for all up and coming aircraft operators</q> - The Skyflyer Magazine</li>
      <br>
      <li><q>0/10, this is the #1 reason why airlines stopped adopting our products</q> - Amore Gus, Jericho Insurance</li>
      <br>
    </ul>
    <!---<p class="text" onclick="changePage('pricing.html')"> > View our pricings here</p> -->
    <h1 class="heading1"></h1>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}

