{% extends "layout.html" %}

  <link rel="stylesheet" href="{{url_for('static', filename='css/signin.css')}}">

  <style>
    body{
      background-image: url('https://images.unsplash.com/photo-1557994758-44f384fed71e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8&w=1000&q=80')
    }
  </style>

{% block body %}   
  <div style="margin-top: 10%; margin-left: 30%; margin-right: 30%;">
    <form class="form-signin" method="post">
      <h1 class="h3 mb-3 font-weight-normal" style="color: white;">Please enter your details</h1>
      <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
      <input name = "password" type="password" autocomplete="off" class="form-control" placeholder="Password" required>
      {% if message %}
      <p class="text"> {{ message }} </p>
      {% endif %}
      <div style="text-align: center; margin-top: 5px;">
        <button class="btn btn-lg btn-primary btn-block" name="submit_btn" type="submit" value="login" style="display: inline; width: 40%;">Log In</button>
        <button class="btn btn-lg btn-success btn-block" name="submit_btn" type="submit" value="register" style="display: inline; width: 40%;">Register</button>

      </div>
    </form>
  </div>      


    <h1 style="margin-top: 50%"></h1>


{% endblock %}