{% extends "layout.html" %}

  <link rel="stylesheet" href="{{url_for('static', filename='css/signin.css')}}">

  <style>
    body{
      background-image: url('https://images.unsplash.com/photo-1557994758-44f384fed71e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8&w=1000&q=80')
    }
  </style>

{% block body %}    

  <body class="text-center">

    <form class="form-signin" method="post">
      <h1 class="h3 mb-3 font-weight-normal" style="color: white;">Please enter your details</h1>
      <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" >
      <button class="btn btn-lg btn-primary btn-block" id="clickMe" type="submit" value="clickme">Log In</button>
      <!--<button class="btn btn-lg btn-primary btn-block" id="clickMe" type="button" value="clickme" onclick="goRecords()">Register</button>=-->

      <!---<p style="color: rgb(187, 187, 187); margin-top: 10px;"><i>Or if you're new, REGISTER</i></p>
      <div class="row">
        <div class="col-sm-12 text-center">
            <button id="btnSearch" class="btn btn-outline-primary btn-md center-block" onclick="goRecords()">Standard Plan</button>
            <button id="btnClear" class="btn btn-outline-primary btn-md center-block" onclick="goRecords()">Premium Plan</button>
         </div> -->
    </div>      
    </form>


{% endblock %}