{% extends "layout.html" %}
{% block body %}

    <section>
        <div class="col text-center">
            <h1>Standard</h1>

            <div style="display: inline-block;">
                <h2>$199.97</h1>

            </div>
            <div style="display: inline-block;">
                <p>/mo</p>
            </div>
         </div>

         <div style="margin-left: 30%;">
            <ul style="color: white; list-style: none;">
                <li><i class="fa fa-check"> Access to the Vivifica Database Services</i></li>
                <li><i class="fa fa-check"> Basic analytics functionality</i></li>
            </ul>
        </div>

        <div class="col text-center">
            <button class="btn btn-lg btn-primary btn-block" id="clickMe" type="button" value="clickme" onclick="changePage('login.html')">Register with Standard Plan</button>  
        </div>

    </section>

    <section>
         <div class="col text-center">
            <h1>Premium</h1>
            <div style="display: inline-block;">
                <h2>$399.97</h1>

            </div>
            <div style="display: inline-block;">
                <p>/mo</p>
            </div>
         </div>

         <div style="margin-left: 30%">
            <ul style="color: white; list-style: none;">
                <li><i class="fa fa-check"> Access to the Vivifica Database Services</i></li>
                <li><i class="fa fa-check"> Advanced analytics functionality</i></li>
                <li><i class="fa fa-check"> 24/7 Tech support</i></li>
            </ul>
        </div>

        <div class="col text-center">
            <button class="btn btn-lg btn-primary btn-block" id="clickMe" type="button" value="clickme" onclick="changePage('login.html')">Register with Premium Plan</button>  
        </div>

    </section>

    <div id='register'>

    </div>


    <h1 style="margin-top: 50%;"></h1>


{% endblock %}