{% extends "layout.html" %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/records.css')}}">
{% block body %}

  {% if session.username %}
    <p class="text" style="margin-top: 1%; ">You are currently logged in as {{ session.username }} 
      <a href="/logout" class="btn btn-primary">Log Out</a>
    </p>

    <div style="text-align: center;">

      <div class="card" style="width: 14rem; margin: 0 auto; margin-top: 1%; display: inline-block;">
        <div class="card-body">
          <h5 class="card-title">Parts</h5>
          <a href="/parts" class="card-link">View database</a>
        </div>
      </div>
  
      <div class="card" style="width: 14rem; margin: 0 auto; margin-top: 1%; display: inline-block;">
        <div class="card-body">
          <h5 class="card-title">Aircraft</h5>
          <a href="/aircraft" class="card-link">View database</a>
        </div>
      </div>
  
      <div class="card" style="width: 14rem; margin: 0 auto; margin-top: 1%; display: inline-block;">
        <div class="card-body">
          <h5 class="card-title">Maintenance</h5>
          <a href="/maintenance" class="card-link">View database</a>
        </div>
      </div>

      <div class="card" style="width: 14rem; margin: 0 auto; margin-top: 1%; display: inline-block;">
        <div class="card-body">
          <h5 class="card-title">Company</h5>
          <a href="/company" class="card-link">View database</a>
        </div>
      </div>

      <div class="card" style="width: 14rem; margin: 0 auto; margin-top: 1%; display: inline-block;">
        <div class="card-body">
          <h5 class="card-title">Type</h5>
          <a href="/type" class="card-link">View database</a>
        </div>
      </div>
  
    </div>

    <div style="text-align: center;">
      <form method="post">
        <button name="contribute" type="submit" class="btn btn-primary" style="margin-top: 1%; width: 20%;">Contribute</button>
      </form>
    </div>

    <h1 style="margin-top: 50%"></h1>

  {% else %}
    You are not logged in. <a href="/login">Log In</a>
  {% endif %}
{% endblock %}