<h2>Aircraft Type</h2>
<div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Type Name</label>
    <input name="name" type="text" class="form-control" placeholder="Type Name" value="{{type.aircraft_name}}" required>
</div>
<div class="form-group" style="margin-top: 1%;">
  <label for="exampleFormControlSelect1">Company</label>
  <select name="manu" class="form-control" id="exampleFormControlSelect1" required>
    {% for company in data %}
      {% if company.c_name == type.c_name %}
      <option value='{{company.c_name}}' selected>{{company.c_name}}</option>
      {% else %}
      <option value='{{company.c_name}}'>{{company.c_name}}</option>
      {% endif %}
    {% endfor %}
  </select>
</div>         
  <div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Year Introduced</label>
    <input name="year" type="number" class="form-control"  placeholder="Year Introduced" min="1900" max="2022" value="{{type.year_introduced}}" required>
  </div>         
  <div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Number of Engines</label>
    <input name="engines" type="number" class="form-control"  placeholder="Number of Engines" min="1" max="10" value="{{type.no_engines}}" required>
  </div>         
  <div class="form-group" style="margin-top: 1%;">
    <label for="exampleFormControlSelect1">Size Class</label>
    {% set classes = ['A', 'B', 'C', 'D', 'E', 'F'] %}
    <select name="size" class="form-control" id="exampleFormControlSelect1" required>
      {% for class in classes %}
        {% if class == type.size_class %}
        <option value="{{class}}" selected>{{class}}</option>
        {% else %}
        <option value="{{class}}">{{class}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>   
